//
// contact form
//

.form-group {
	position: relative;

	label {
		opacity: 0;
		position: absolute;
		top: 2em;
		left: .75rem;
		transition: all .07s linear;
		z-index: -1;
		background-color: $white;
		color: #aaa;
		font-size: .75rem;

		&.show {
			opacity: 1;
			top: -.75em;
			z-index: 1;
		}

		&.focused {
			color: $input-border-focus;
		}
	}
}

#formContact {
	@include media-breakpoint-down(xs) {
		button[type='submit'] {
			width: 100%;
		}
	}
}