.container
	h1 Experience
	article
		h4 Associate Director
		.split-text
			p.inline-left Office of Assessment, Accountability & Research 
				em Dayton Public Schools
			p.inline-right June 2016 - Present
		p.text-body Collect data, develop statistical models, and apply statistical theories to identify strengths and weaknesses. Design research studies, surveys and questionnaires to answer key question and address district concerns. Report conclusions and present recommendations for future strategies and district initiatives. Present written reports of findings, analysis, and reliability and validity of data to district stakeholder. Supervise and manage the EMIS, research and program evaluation departments.
	article
		h4 Special Education Advisor
		.split-text
			p.inline-left National Science Teachers Association
			p.inline-right June 2016 - May 2019
		p.text-body Serving a three year term with the National Science Teachers Association (NSTA). Make recommendations to the Executive Director and the Board of Directors regarding issues and projects related to special education. Advise NSTA regarding research and publications related to special education. Advise NSTA standing committees and NSTA headquarters regarding support for teachers of students with special needs.
	article
		h4 Education Consultant
		.split-text
			p.inline-left Remote
			p.inline-right June 2014 - Present
		p.text-body Design and conduct qualitative and quantitative research.
		span.text-body Previous clients:
		ul.client-list.text-body
			li U.S. Department of Education
			li Boston Public Schools
			li Massachusetts Department of Education
			li Houston Unified School District
			li San Diego Unified School District
			li Museum of Science, Boston
			li ACT
			li Pearson Education
	article
		h4 Intervention Science Teacher
		.split-text
			p.inline-left Thurgood Marshall STEM High School
				em Dayton Public Schools
			p.inline-right August 2015 - May 2016
		p.text-body Won the National Science Teacher Association's Maitland P. Simmons Award. Developed innovative, hands-on, technology-integrated lessons that allow all students to access the curricula in meaningful and memorable ways. Collaborated with general education teachers, administrators, and colleagues to improve practice. Responsible for organizing and administering fall and spring state tests for all students.
	article
		h4 Accessibility and Curriculum Consultant
		.split-text
			p.inline-left Center for Science and Industry (COSI)
			p.inline-right May 2014 - April 2015
		p.text-body Researched innovative ways to improve accessibility in activity-based science curricula. Created accessible curricula for students with disabilities. Recommended modifications to existing curricula to improve accessibility and inclusion of students with learning and/or physical disabilities. Collected data on the efficacy of the implementation of program curricula.
	article
		h4 Researcher
		.split-text
			p.inline-left University of Cincinnati
			p.inline-right January 2013 - April 2014
		p.text-body Primary researcher in studies investigating instructional methods to middle school students with learning disabilities and access to the general education curricula. Collaborated with University faculty to conduct research in the field of math education to students with disabilities, teacher retention, pre-service teacher education, and chemistry education. Edited department research manuscripts prior to journal submission.