.container
	h1 Research
	//- manuscripts
	h4 Selected Manuscripts
	p Taylor, G. S., & Burton, S. (2017). The State of the Education System. In 
		em The State of Black Dayton: Opportunities Lost 
		|  (pp. 17-24). Urban League of Greater Southwestern Ohio.
	p Taylor, G. S., & Hord, C. (2016). An Exploratory Analysis of a Middle School Science Curriculum: Implications for Students with Learning Disabilities. 
		em Learning Disabilities: A Multidisciplinary Journal, 21
		|(2).
	p Taylor, G. S. (In Press). Sound wave instruction to students with disabilities through UDL. 
		em Science Teacher
	//- presentations
	h4 Selected Presentations
	p Taylor, G. S. (2016, May) 
		em An overview of Universal Design for Learning: From research to practice
		| . Research presentation at the Wright State Network for Educational Renewal Conference, Dayton, OH.
	p Taylor, G. S. (2016, March) 
		em Students with disabilities and the 5E Learning Cycle
		| . Research presentation at the National Science Teacher Association National Conference, Nashville, TN.
	p Taylor, G. S. (2016, March) 
		em Universal Design for Learning: What it is, and what it isn’t
		| . Research presentation at the National Science Teacher Association National Conference, Nashville, TN.
	p Taylor, G. S. (2016, January) 
		em Universal Design for Learning (UDL): Addressing misconceptions and guiding practice
		| . Research presentation at the Science Education Council of Ohio Science Institute, Columbus, OH.
	p Taylor G. S. (2015, November) 
		em Universal Design for Learning: Guiding practice with neuroscience
		| . Research presentation at Project WRIGHT Symposium, Dayton, OH.
	p Taylor G. S. (2015, July) 
		em Understanding today’s educational assessments
		| . Research presentation at Teach for America Summer Institute, Atlanta, GA.
	p Taylor G. S. (2015, July) 
		em Including students with disabilities in your general education classroom
		| . Research presentation at Teach for America Summer Institute, Atlanta, GA.
	p Taylor, G. S. (2015, March) 
		em Teaching students with disabilities in general education science classrooms
		| . Research panel discussion at the National Middle Level Science Teacher Association National Conference, Chicago, IL.
	p Taylor, G. S. (2015, March) 
		em Discussing the implications for students with learning disabilities in NGSS materials
		| .  Research presentation at the National Science Teaching Association 2015 National Conference, Chicago, IL.
	p Taylor, G. S. (2015, February) 
		em Implications for students with disabilities in a middle school science lesson
		| . Poster presentation at the American Association for the Advancement of Science 2015 Annual Meeting, San Jose, CA.
	p Taylor, G. S. (2014, November) 
		em Next Generation Science Standards: Identifying possible difficulties for students with disabilities
		| . Research presentation at the School Science and Mathematics Association Annual Convention, Jacksonville, FL.
	p Taylor, G. S., & Hord, C. (2014, August) 
		em Promoting inclusion in secondary science classrooms
		| . Paper presentation at the Word Council for Curriculum and Instruction 16th World Conference in Education, San Diego, CA.
	p Taylor, G. S. (2014, April) 
		em Middle school science textbook review: Implications for students with disabilities
		| . Poster presentation at the National Conference on Undergraduate Research, Lexington, KY.
	p Taylor, G.S., (2014, January) 
		em Including students with disabilities in your general education classroom
		| . Research session at the Science Educators of Ohio 2014 Science Institute, Columbus, OH.
	p Taylor, G.S., (2014, January) 
		em Teaching students with learning disabilities in the middle school science classroom. 
		| Poster presentation at the Science Educators of Ohio 2014 Science Institute, Columbus, OH.