nav#topNav.top-nav
	.container
		a.brand(href='index.html') Gregory S. Taylor
		.social-wrapper
			a(href='mailto:email.gregory.taylor@gmail.com')
				span.icon-envelope(aria-hidden='true')
			a(href='tel:6145619775')
				span.icon-phone(aria-hidden='true')
			a(href='https://www.linkedin.com/in/gregorystaylor')
				span.icon-linkedin(aria-hidden='true')