nav.navbar.navbar-light
	.container
		a.navbar-brand.brand(href='index.html') Gregory S. Taylor
		button.navbar-toggler.hidden-sm-up.pull-xs-right(type='button' aria-label='Toggle navigation') &#9776;
		ul.nav.navbar-nav
			li.nav-item
				a.nav-link(href='consulting.html') Consulting
			li.nav-item
				a.nav-link(href='contact.html') Contact
			li.nav-item
				a.nav-link(href='cv.html') CV
			li.nav-item.hidden-md-up
				a.nav-link(href='tel:') Call