nav#topNav.top-nav
	.container
		a.brand(href='index.html') Gregory S. Taylor
		.social-wrapper
			a(href='')
				span.icon-envelope
			a(href='')
				span.icon-phone
			a(href='')
				span.icon-linkedin