nav#topNav.top-nav
	.container
		a.brand(href='index.html') Gregory S. Taylor
		button.navbar-toggler.hidden-sm-up(type='button' aria-label='Toggle navigation') &#9776;
		.navbar-nav
			a(href='#consulting') Consulting
			a(href='#contact') Contact
				.caret-wrapper
					.caret-up
			a(href='cv.html') CV
				.caret-wrapper
					.caret-up