//
// global styles
//

html {
	@include media-breakpoint-up(lg) {
		font-size: 18px;

	}
}

body {
	position: relative;
}

.container {
	@include media-breakpoint-up(lg) {
		max-width: 940px;
	}
}

.nav-link {
	text-decoration: none;
	font-family: $font-family-base;
}


//
// alignment helpers
//

.split-text {

	.inline-left,
	.inline-right {
		display: block;
	}

	.inline-right {
		font-style: italic;
	}

	@include media-breakpoint-up(md) {
		display: flex;

		.inline-left {
			margin-right: auto;
			max-width: 65%;

			em {

			}
		}

		.inline-right {
			font-style: normal;
		}
	}
}


