//
// global styles
//

html {
	@include media-breakpoint-up(lg) {
		font-size: 18px;

	}
}

.nav-link {
	text-decoration: none;
}

.navbar-brand {
	text-decoration: none;
}



//
// brand styles
//

.brand {
	font-family: $font-family-brand;
}



//
// alignment helpers
//

.split-text {
	.inline-left,
	.inline-right {
		display: block;
	}

	.inline-right {
		font-style: italic;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		justify-content: flex-end;

		.inline-left {
			margin-right: auto;
			max-width: 65%;

			em {

			}
		}

		.inline-right {
			font-style: normal;
		}
	}
}

//
// media object
//

.media {
	display: flex;
	align-items: flex-start;
}

.media-figure {
	margin-right: 1rem;
}

.media-body {
	flex: 1;
}



//
// navbar
//

.navbar {
	padding: 8px 0;
	position: fixed;
	width: 100vw;
	border-bottom: 1px solid $gray-lighter;
	background-color: $white;
}

.navbar-nav {
	padding: 0 $grid-gutter-width/2;
	display: none;
	position: fixed;
	top: 55px;
	left: 0;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid $gray-lighter;
	background-color: $white;

	@include media-breakpoint-up(sm) {
		padding: 0;
		display: flex;
		position: relative;
		top: 0;
		float: right;
		width: auto;
		max-width: 300px;
		border-bottom: none;

		.nav-item {
			flex-grow: 1;
			text-align: center;
		}
	}
}

.navbar-toggler {
	padding-right: 0;
}



//
// sections
//

section {
	padding: 1.5rem 0;

	h1,
	h3 {
		margin-bottom: 1rem;
	}
}



//
// awards section
//

#awards {
	@include media-breakpoint-down(sm) {
		.inline-left {
			display: inline;
		}

		.inline-right {
			margin-bottom: 4px;
			display: inline;

			&:before {
				content: " ("
			}
			&:after {
				content: ")"
			}
		}

	}
}



//
// education section
//

article {
	margin: 0 auto 1rem;

	p {
		margin-bottom: 4px;
	}
}


//
// research section
//

#research {
	p {
		padding-left: 2rem;
		text-indent: -2rem;
	}
}



//
// contact section
//

.form-group {
	position: relative;

	label {
		opacity: 0;
		position: absolute;
		top: 2em;
		left: .75rem;
		transition: all .05s linear;
		z-index: -1;
		background-color: $white;
		color: #aaa;
		font-size: .75rem;

		&.show {
			opacity: 1;
			top: -.75em;
			z-index: 1;
		}

		&.focused {
			color: $brand-primary;
		}
	}
}





