//
// variables
//

$enable-rounded:        false;


//
// colors
//

$white:									#fff;
$black:									#000;

$gray-dark:							lighten($black,20%);

$gray-light:						lighten($black,40%);
$gray-lighter:					lighten($black,80%);
$gray-lightest:					lighten($black,97%);

$blue:									#0074d9;
$navy:									#001f3f; // $brand-primary

$brand-primary:					#08327d;


$input-border-focus:		$brand-primary;


//
// links
//

$link-decoration:       underline;


//
// fonts
//

// base font stack
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

// brand font-family
$font-family-brand: "Proxima Nova", $font-family-base;
