head
	<meta http-equiv="X-UA-Compatible", content="IE=edge" />
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Gregory S. Taylor
	link(href="css/app.css", rel="stylesheet")
	script(src="https://use.typekit.net/ngs7pqk.js")
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	link(rel="icon" href="favicon.ico")
	//- html5 shiv 
	<!--[if lte IE 9]><script href="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->