<!DOCTYPE html>
html(lang="en")
	include includes/head.pug
	body
		include includes/topNav.pug
		section
		section#contact
			.container
				h1 Contact
				include includes/form-contact.pug
				
		section
		include includes/foot.pug