<!DOCTYPE html>
html(lang="en")
	include includes/head.pug
	body
		include includes/topNav.pug
		//- 
		section
		//- contact section
		section#contact
			.container
				h1 Contact
				.row
					.col-xs-12.col-md-6
						include form-contact.pug
					.col-xs-12.col-md-6
						article
							.media
		include includes/contact.pug
		include includes/foot.pug