<!DOCTYPE html>
html(lang="en")
	include includes/head.pug
	body
		include includes/topNav.pug
		//- nav.page-nav#cvNav
		//- 	a(href='#experience') Experience
		//- 	a(href='#education') Education
		//- 	a(href='#research') Research
		section#experience
			include includes/experience.pug
		section#activities
			.container
				h1 Professional Activities
				article
					strong Special Education Advisory Board
					em National Science Teachers Association
				article
					strong Every Student Succeeds Act Advisory Panel
					em Ohio 8 Coalition
				article
					strong Test Steering Committee
					em Ohio Department of Education
				article
					strong Alternate Assessment Advisory Committee
					em Ohio Department of Education
				article
					strong Statewide Testing and Students with Disabilities Advisory Committee
					em Ohio Department of Education
		section#membership
			.container
				h1 Professional Membership
				p National Science Teachers Association
				p National Council on Measurement in Education
				p Council for Exceptional Children
				p Council of the Great City Schools
				p Association for Supervision and Curriculum Development
		section#awards
			.container
				h1 Awards
				article
					.split-text
						span.inline-left 
							strong Dayton Public Schools
							span Outstanding Employee of the Year Finalist
						span.inline-right 2017
				article
					.split-text
						span.inline-left 
							strong National Science Teacher Association
							span Maitland P. Simmons Award
						span.inline-right 2016
				article
					.split-text
						span.inline-left 
							strong The Ohio Academy of Science
							span Thomas Edison Award for Excellence in STEM Education
						span.inline-right 2016
				article
					.split-text
						span.inline-left
							strong Harvard University
							span Academic Fellowship
						span.inline-right 2014
				article
					.split-text
						span.inline-left
							strong University of Cincinnati
							span Hazel N. Kemp Scholarship for Special Education
						span.inline-right 2013
				article
					.split-text
						span.inline-left
							strong University of Cincinnati
							span Sarah Moses Scholarship
						span.inline-right 2012
		section#education
			.container
				h1 Education
				article
					.split-text
						h4.inline-left Harvard University
						p.inline-right May 2015
					p
						em Master of Education magna cum laude
						| , Special Studies
					p Emphasis: Inclusive Education Policy and Program Evaluation
				article
					.split-text
						h4.inline-left University of Cincinnati
						p.inline-right April 2014
					p
						em Bachelor of Science cum laude
						| , Special Education
					p Concentrations: Natural Science and English Language Arts
		section#research
			include includes/research.pug
		section#footer
			.container
				span Email: email.gregory.taylor@gmail.com<br>
				span Phone: 614.561.9775<br>
				span
					a(href='https://www.linkedin.com/in/gregorystaylor') LinkedIn
		include includes/foot.pug