<!DOCTYPE html>
html(lang="en")
	include _head.pug
	body
		section
			.container
				h1.brand Gregory S. Taylor
		section#experience
			.container
				h1 Experience
				article
					h4 Associate Director
					.split-text
						p.inline-left Office of Assessment, Accountability & Research, 
							em Dayton Public Schools
						p.inline-right June 2016 - Present
				article
					h4 Special Education Advisor
					.split-text
						p.inline-left
							em National Science Teachers Association
						p.inline-right June 2016 - May 2019
				article
					h4 Education Consultant
					.split-text
						p.inline-left
							em Remote
						p.inline-right June 2014 - Present
					span Previous clients:
					ul.client-list
						li U.S. Department of Education
						li Boston Public Schools
						li Massachusetts Department of Education
						li Houston Unified School District
						li San Diego Unified School District
						li Museum of Science, Boston
						li College Board
						li ACT
						li Pearson Education
						li McGraw Hill Education
				article
					h4 Testing Coordinator
					.split-text
						p.inline-left Thurgood Marshall STEM High School, 
							em Dayton Public Schools
						p.inline-right August 2015 - May 2016
				article
					h4 Intervention Science Teacher
					.split-text
						p.inline-left Thurgood Marshall STEM High School, 
							em Dayton Public Schools
						p.inline-right August 2015 - May 2016
				article
					h4 Accessibility and Curriculum Consultant
					.split-text
						p.inline-left Center for Science and Industry (COSI)
						p.inline-right May 2014 - April 2015
				article
					h4 Researcher
					.split-text
						p.inline-left University of Cincinnati
						p.inline-right January 2013 - April 2014
		section#awards
			.container
				h1 Awards
				article
					.split-text
						span.inline-left National Science Teacher Association, 
							em Maitland P. Simmons Award
						span.inline-right 2016
					.split-text
						span.inline-left Harvard University, 
							em Academic Fellowship
						span.inline-right 2014
					.split-text
						span.inline-left University of Cincinnati, 
							em Hazel N. Kemp Scholarship for Special Education
						span.inline-right 2013
					.split-text
						span.inline-left University of Cincinnati, 
							em Sarah Moses Scholarship
						span.inline-right 2012

		section#education
			.container
				h1 Education
				article
					.split-text
						h4.inline-left Harvard University
						p.inline-right May 2015
					p
						em Master of Education magna cum laude
						| , Special Studies
					p Emphasis: Inclusive Education Policy and Program Evaluation
				article
					.split-text
						h4.inline-left University of Cincinnati
						p.inline-right April 2014
					p
						em Bachelor of Science cum laude
						| , Special Education
					p Concentrations: Natural Science and English Language Arts
		section#research
			include _research.pug
		section
		include _foot.pug